@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);
body {
  font-size: 3.5vw;
  font-family: "Work Sans", sans-serif;
  color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body button {
  font-size: 2.5vw;
  background-color: yellowgreen;
  border: green 2vw solid;
}

.container {
  width: 100%;
  display: relative;
}

.question {
  font-size: 2.5rem;
  height: 25%;
  text-align: left;
}

.answers {
  text-align: left;
  display: inline-block;
  font-size: 2vw;
  width: 100%;
  margin-top: 25vw;
}

.answers label {
  display: flex;
  border: blue solid 1px;
  height: 10vw;
  margin-bottom: 4.5vw;
}

button {
  font-family: "Work Sans", sans-serif;
  font-size: 2vw;
  border: 0px;
  cursor: pointer;
}
button#start-btn {
  background-color: transparent;
  margin-top: 132vw;
  margin-left: 50vw;
  width: 30vw;
  height: 35vw;
}

button:hover {
  background-color: #38a;
}

.slide {
  position: absolute;
  left: 20vw;
  top: 45vw;
  width: 60vw;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

.page {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 178vw;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
  /* height: 0px; */
}
.page#home {
  background-image: url("./img/home.jpg");
}
.page#username-page {
  background-image: url("./img/username.jpg");
}
.page .page-content {
  position: flex;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  background-repeat: no-repeat;
}
.page .page-content .result-block {
  display: flex;
}
.page .page-content .result-block .result-img {
  background-color: green;
}
.page .page-content #results {
  background-repeat: no-repeat;
  background-size: cover;
}
.page .page-content #results #poster-username {
  left: 12vw;
  top: 95vw;
  font-weight: bolder;
  position: absolute;
  color: white;
  font-family: ZCOOL KuaiLe;
  font-size: 7vw;
}
.page .buttons {
  display: flex;
  padding: 10vw;
  justify-content: space-between;
}
.page .buttons.confirm-btns {
  flex-grow: 1;
  justify-content: center;
}
.page .buttons.confirm-btns #showPosterButton {
  width: 30vw;
  height: 30vw;
  margin: auto;
}
.page .buttons#quiz-btns {
  height: 10vw;
  padding: 0vw 10vw;
  margin-bottom: 27vw;
}
.page .buttons#saveButtons {
  position: absolute;
  width: 80vw;
  top: 150vw;
}
.page .buttons button {
  height: 10vw;
  width: 33vw;
}

.active-page {
  opacity: 1;
  z-index: 2;
}

.quiz-container {
  position: relative;
  height: 70%;
}
.quiz-container #quiz {
  height: 100%;
  background-color: transparent;
}
.quiz-container #quiz input[type=radio] {
  height: 2vw;
  width: 2vw;
  margin: 2vw 2vw;
}

input#username {
  border: 2px green solid;
  border-radius: 3vw;
  height: 14vw;
  font-size: 5vw;
  margin: 110vw auto 2vw auto;
  width: 55vw;
}

/*# sourceMappingURL=main.css.map */
