@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);
body {
  font-size: 3.5vw;
  font-family: "Work Sans", sans-serif;
  color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body button {
  font-size: 2.5vw;
  background-color: yellowgreen;
  border: green 2vw solid;
}

.container {
  width: 100%;
  display: relative;
}

.question {
  font-size: 2.5rem;
  height: 25%;
  text-align: left;
}

.answers {
  text-align: left;
  display: inline-block;
  font-size: 2vw;
  width: 100%;
  margin-top: 40vw;
}

.answers label {
  display: flex;
  border: blue solid 1px;
}

button {
  font-family: "Work Sans", sans-serif;
  font-size: 2vw;
  border: 0px;
  cursor: pointer;
}
button#start-btn {
  background-color: transparentØ;
  margin-top: 132vw;
  margin-left: 50vw;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
}

button:hover {
  background-color: #38a;
}

.slide {
  position: absolute;
  left: 10vw;
  top: 45vw;
  width: 70vw;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

.page {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 178vw;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
  /* height: 0px; */
}
.page#home {
  background-image: url("./img/home.jpg");
}
.page#username-page {
  background-image: url("./img/username.jpg");
}
.page .page-content {
  position: flex;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  background-repeat: no-repeat;
}
.page .page-content .result-block {
  display: flex;
}
.page .page-content .result-block .result-img {
  background-color: green;
}
.page .buttons {
  display: flex;
  padding: 10vw;
  justify-content: space-between;
}
.page .buttons#confirm-btn {
  justify-content: end;
}
.page .buttons#confirm-btn #showPosterButton {
  width: 30vw;
  height: 30vw;
  margin: auto;
}
.page .buttons#saveButtons {
  position: absolute;
  width: 80vw;
  top: 150vw;
}
.page .buttons#saveButtons button {
  height: 10vw;
  width: 33vw;
}

.active-page {
  opacity: 1;
  z-index: 2;
}

.quiz-container {
  position: relative;
  height: 100%;
}
.quiz-container #quiz {
  height: 100%;
  background-color: transparent;
}
.quiz-container #quiz input[type=radio] {
  height: 2vw;
  width: 2vw;
  margin: 2vw 2vw;
}

input#username {
  border: 2px green solid;
  border-radius: 3vw;
  height: 14vw;
  font-size: 5vw;
  margin: auto auto 2vw auto;
  width: 55vw;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
