@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body {
  font-size: 3.5vw;
  font-family: 'Work Sans', sans-serif;
  color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
  font-family: Georgia, "Times New Roman", Times, serif;

  button {
    font-size: 2.5vw;
    background-color: yellowgreen;
    // border-radius: 20vw;
    border: green 2vw solid;
    // margin:auto;
  }
}

.container {
  // heght: 750vw;
  // width: 1334vw;
  width: 100%;
  // height: 1334vw;
  display: relative;
}


// h1 {
//   font-weight: 300;
//   margin: 0px;
//   padding: 10px;
//   font-size: 20px;
//   background-color: #444;
//   color: #fff;
// }

.question {
  font-size: 2.5rem;
  // margin: 10%;
  height: 25%;
  text-align: left;
}

.answers {
  // margin-bottom: 20px;
  text-align: left;
  display: inline-block;
  font-size: 2vw;
  width: 100%;
  margin-top: 40vw;
}


.answers label {
  display: flex;
  border: blue solid 1px;
  // margin: 10% 0%;
}

button {
  font-family: 'Work Sans', sans-serif;
  font-size: 2vw;
  border: 0px;
  cursor: pointer;

  &#start-btn {
    background-color: transparentØ;
    // background-image: url(images/start-button.png);
    margin-top: 132vw;
    margin-left: 50vw;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
  }
}


button:hover {
  background-color: #38a;
}

.slide {
  position: absolute;
  left: 10vw;
  top: 45vw;
  width: 70vw;
  // height: 60vw;
  z-index: 1;
  opacity: 0;
  // padding:, 10%;
  transition: opacity 0.5s;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

.page {
  position: absolute;
  // background-image: url('./img/bg/background.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 178vw;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
  /* height: 0px; */

  &#home {
    background-image: url('./img/home.jpg');
  }

  &#username-page{
    background-image: url('./img/username.jpg');
  }
  .page-content {

    position: flex;
    height: 100%;
    // margin: 25% 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: left;
    background-repeat: no-repeat;


    .result-block {
      display: flex;

      .description {}

      .result-img {
        background-color: green;
      }
    }

  }

  .buttons{
    // position: absolute;
    // top: 140vw;
    display: flex;
    padding:10vw;
    justify-content: space-between;

    &#confirm-btn{
      justify-content: end;
      #showPosterButton{
        width: 30vw;
        height: 30vw;
        margin: auto;
      }
    }

    &#saveButtons{
      position: absolute;
      width: 80vw;
      top: 150vw;
      button{
        height: 10vw;
        width: 33vw;
      }
    }
  }
  
  // .buttons {

  //   display: flex;
  //   justify-content: space-between;
  //   height: 20%;
  //   align-items: center;
  //   width: 100%;

  // flex-direction: col umn;
  // .home-btns {
  //   justify-content: end;
  //   height: 20%;

  //   // }
  // }

}

.active-page {
  opacity: 1;
  z-index: 2;
  // height: 100%;
}

.quiz-container {
  position: relative;
  height: 100%;
  // margin: 40px 0px;

  #quiz {
    height: 100%;
    background-color: transparent;
    // opacity: 0.5;

    input[type=radio] {
      height: 2vw;
      width: 2vw;
      margin: 2vw 2vw;
    }
  }
}

input#username {
  border: 2px green solid;
  border-radius: 3vw;
  height: 14vw;
  font-size: 5vw;
  margin: auto auto 2vw auto;
  width: 55vw;
}